.main-wrapper-all {
    height: 1600px;
    overflow: hidden !important;

    @media(max-width: 1199px) {
        width: 900px;
        height: 1000px;
        margin: auto;
        overflow: hidden;
    }

    .inner-smaller-top {
        min-height: 230px;

        @media(max-width:1199px) {
            min-height: 150px;
        }

        .topper {
            .small-pond {
                border: 4px solid #333;
                min-height: 230px;
                width: 385px;
                position: relative;

                @media(max-width:1366px) {
                    margin-left: -40px;
                }

                @media(max-width:1199px) {
                    width: 230px;
                    min-height: 150px;
                    margin-left: 20px;
                }

                .label-title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid #186583;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .top {
                    position: absolute;
                    display: inline-block;
                    top: -110px;
                    left: 190px;
                    transform: rotate(270deg);

                    @media(max-width:1199px) {
                        top: -72px;
                        left: 110px;
                    }
                }

                .bottom {
                    position: absolute;
                    bottom: -62px;
                    left: 140px;
                    transform: rotate(270deg);

                    @media(max-width:1199px) {
                        bottom: -45px;
                        left: 90px;
                    }
                }

                &::after {
                    position: absolute;
                    content: '';
                    height: 40px;
                    width: 40px;
                    right: 0;
                    bottom: -25px;
                    background: #ffffff;
                    z-index: 999;
                }
            }

        }
    }

    .boat-tracker-map {
        max-width: 1280px;
        margin: auto;

        .all-wrappr {
            transform: rotate(27deg);
            transform-origin: 24% 200%;

            @media(min-width: 1200px) {
                transform: rotate(27deg) translateX(70px);
            }

            @media(min-width: 1600px) {
                transform: rotate(27deg) translateX(100px);
            }

        }

        @media(max-width: 1450px) {
            max-width: 1200px;
        }
    }

    .main-blocs {
        position: relative;

        .terminal-one {
            position: absolute;
            left: 11%;
            z-index: 999;

            @media(max-width:1199px) {
                left: 12%;
            }

            .wrapper {
                background: #186583;
                border: 1px solid #1aaf5d;
                width: 10px;
                height: 720px;
                position: relative;


                .right-side,
                .left-side {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;

                    span {
                        padding-inline: 3px;
                    }
                }

                .left-side {
                    left: -60px;
                }

                .right-side {
                    right: -60px;
                }

                .label-t {
                    position: absolute;
                    bottom: -35px;
                    left: 50%;
                    transform: translateX(-50%);
                    border: 1px solid #186583;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @media(max-width:1199px) {
                    height: 400px;

                    .left-side {
                        left: -21px;
                    }

                    .right-side {
                        right: -21px;
                    }

                }
            }
        }

        .terminal-two {
            position: absolute;
            left: 27%;
            z-index: 999;

            .wrapper {
                background: #186583;
                border: 1px solid #1aaf5d;
                width: 10px;
                height: 600px;
                position: relative;

                .right-side,
                .left-side {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;

                    span {
                        padding-inline: 3px;
                    }
                }

                .left-side {
                    left: -60px;
                }

                .right-side {
                    right: -60px;
                }

                @media(max-width:1199px) {
                    height: 380px;

                    .left-side {
                        left: -21px;
                    }

                    .right-side {
                        right: -21px;
                    }

                }
            }
        }

        .terminal-three {
            position: absolute;
            left: 45%;
            z-index: 999;

            .wrapper {
                background: #186583;
                border: 1px solid #1aaf5d;
                width: 10px;
                height: 560px;
                position: relative;

                .right-side,
                .left-side {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;

                    span {
                        padding-inline: 3px;
                    }
                }

                .left-side {
                    left: -60px;
                }

                .right-side {
                    right: -60px;
                }

                @media(max-width:1199px) {
                    height: 350px;

                    .left-side {
                        left: -21px;
                    }

                    .right-side {
                        right: -21px;
                    }

                }
            }
        }

        .terminal-four {
            position: absolute;
            left: 60%;
            z-index: 999;

            .smalll {
                font-size: 10px;

                @media(max-width:1199px) {
                    font-size: 5px;
                }
            }


            .wrapper {
                background: #186583;
                border: 1px solid #1aaf5d;
                width: 10px;
                height: 650px;
                position: relative;

                .right-side,
                .left-side {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;

                    span {
                        padding-inline: 3px;
                    }
                }

                .left-side {
                    left: -60px;
                }

                .right-side {
                    right: -60px;
                }

                @media(max-width:1199px) {
                    height: 400px;

                    .left-side {
                        left: -21px;
                    }

                    .right-side {
                        right: -21px;
                    }

                }

            }
        }

        .terminal-five {
            position: absolute;
            left: 78%;
            top: -5px;
            z-index: 999;

            .wrapper {
                background: #186583;
                border: 1px solid #1aaf5d;
                width: 10px;
                height: 780px;
                position: relative;
                transform: rotate(10deg);

                .right-side,
                .left-side {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;

                    span {
                        padding-inline: 3px;
                    }
                }

                .left-side {
                    padding-top: 15px;
                    left: -60px;
                }

                .right-side {
                    right: -60px;
                }

                @media(max-width:1199px) {
                    height: 420px;

                    .left-side {
                        left: -21px;
                    }

                    .right-side {
                        right: -21px;
                    }

                }

            }
        }

        .de {
            position: absolute;
            z-index: 999;
            left: calc(60% + 120px);
            top: -16px;
            transform: rotate(270deg);

            @media(max-width:1199px) {
                left: calc(60% + 90px);
            }
        }

        .label-t {
            position: absolute;
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #186583;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .terminal-right-end {
            position: absolute;
            left: 90.5%;
            top: -14px;
            z-index: 999;

            @media(max-width:1199px) {
                left: 89%;
            }

            .wrapper {
                background: #186583;
                border: 1px solid #1aaf5d;
                width: 10px;
                height: 990px;
                position: relative;
                transform: rotate(13deg);

                .right-side,
                .left-side {
                    padding-top: 20px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-around;

                    span {
                        padding-inline: 3px;
                    }
                }

                .left-side {
                    left: -60px;
                }

                .right-side {
                    right: -46px;
                }

                .bottom-flat {
                    position: absolute;
                    background: #186583;
                    border: 1px solid #1aaf5d;
                    height: 10px;
                    width: 760px;
                    right: 70px;
                    bottom: -150px;
                    transform: rotate(-13deg) translateX(40px);
                    transform-origin: 29% 20%;

                    @media(max-width:1199px) {
                        width: 480px;
                        bottom: -105px;
                        right: 76px;
                    }

                    .boats {
                        position: relative;

                        .uppers-side {
                            position: absolute;
                            top: -383px;
                            right: 360px;
                            transform: rotate(270deg);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            @media(max-width:1199px) {
                                top: -250px;
                                right: 220px;

                                .slot {
                                    margin-bottom: 1.5px;
                                }
                            }
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            height: 10px;
                            width: 60px;
                            bottom: -9px;
                            right: -50px;
                            background: #186583;
                            border: 1px solid #1aaf5d;
                            border-left: none;
                        }

                        .box-ax {
                            position: absolute;
                            right: 100%;
                            bottom: -9px;
                            min-height: 80px;
                            min-width: 80px;
                            border: 10px solid #186583;

                            @media(max-width:1199px) {
                                min-width: 40px;
                                min-height: 40px;
                            }
                        }
                    }
                }

                @media(max-width:1199px) {
                    height: 600px;

                    .left-side {
                        left: -21px;
                    }
                }
            }
        }
    }

    .slot {
        background: #01ff4d;
        border: 1px solid #fdcf03;
        min-width: 59px;
        max-width: 60px;
        min-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            font-size: 11px;
        }

        &.occupied {
            color: #fff;
            background: #eb0606;
        }

        &:hover {
            background: gray;
        }

        @media(max-width:1199px) {
            min-width: 20px;
            max-width: 21px;
            min-height: 9px;
            border: 1px solid #fdcf03;
            border-bottom: 1px solid #fdcf03;

            span {
                font-size: 6px;
            }
        }
    }
}