/*=== base css start === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  background: #ffffff;
}

/*===// end of base css === */
/*=== components css start === */
.main-wrapper-all {
  height: 1600px;
  overflow: hidden !important;
}
@media (max-width: 1199px) {
  .main-wrapper-all {
    width: 900px;
    height: 1000px;
    margin: auto;
    overflow: hidden;
  }
}
.main-wrapper-all .inner-smaller-top {
  min-height: 230px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .inner-smaller-top {
    min-height: 150px;
  }
}
.main-wrapper-all .inner-smaller-top .topper .small-pond {
  border: 4px solid #333;
  min-height: 230px;
  width: 385px;
  position: relative;
}
@media (max-width: 1366px) {
  .main-wrapper-all .inner-smaller-top .topper .small-pond {
    margin-left: -40px;
  }
}
@media (max-width: 1199px) {
  .main-wrapper-all .inner-smaller-top .topper .small-pond {
    width: 230px;
    min-height: 150px;
    margin-left: 20px;
  }
}
.main-wrapper-all .inner-smaller-top .topper .small-pond .label-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #186583;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper-all .inner-smaller-top .topper .small-pond .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-wrapper-all .inner-smaller-top .topper .small-pond .top {
  position: absolute;
  display: inline-block;
  top: -110px;
  left: 190px;
  transform: rotate(270deg);
}
@media (max-width: 1199px) {
  .main-wrapper-all .inner-smaller-top .topper .small-pond .top {
    top: -72px;
    left: 110px;
  }
}
.main-wrapper-all .inner-smaller-top .topper .small-pond .bottom {
  position: absolute;
  bottom: -62px;
  left: 140px;
  transform: rotate(270deg);
}
@media (max-width: 1199px) {
  .main-wrapper-all .inner-smaller-top .topper .small-pond .bottom {
    bottom: -45px;
    left: 90px;
  }
}
.main-wrapper-all .inner-smaller-top .topper .small-pond::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  right: 0;
  bottom: -25px;
  background: #ffffff;
  z-index: 999;
}
.main-wrapper-all .boat-tracker-map {
  max-width: 1280px;
  margin: auto;
}
.main-wrapper-all .boat-tracker-map .all-wrappr {
  transform: rotate(27deg);
  transform-origin: 24% 200%;
}
@media (min-width: 1200px) {
  .main-wrapper-all .boat-tracker-map .all-wrappr {
    transform: rotate(27deg) translateX(60px);
  }
}
@media (min-width: 1600px) {
  .main-wrapper-all .boat-tracker-map .all-wrappr {
    transform: rotate(27deg) translateX(100px);
  }
}
@media (max-width: 1450px) {
  .main-wrapper-all .boat-tracker-map {
    max-width: 1200px;
  }
}
.main-wrapper-all .main-blocs {
  position: relative;
}
.main-wrapper-all .main-blocs .terminal-one {
  position: absolute;
  left: 11%;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-one {
    left: 12%;
  }
}
.main-wrapper-all .main-blocs .terminal-one .wrapper {
  background: #186583;
  border: 1px solid #1aaf5d;
  width: 10px;
  height: 720px;
  position: relative;
}
.main-wrapper-all .main-blocs .terminal-one .wrapper .right-side,
.main-wrapper-all .main-blocs .terminal-one .wrapper .left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.main-wrapper-all .main-blocs .terminal-one .wrapper .right-side span,
.main-wrapper-all .main-blocs .terminal-one .wrapper .left-side span {
  padding-inline: 3px;
}
.main-wrapper-all .main-blocs .terminal-one .wrapper .left-side {
  left: -60px;
}
.main-wrapper-all .main-blocs .terminal-one .wrapper .right-side {
  right: -60px;
}
.main-wrapper-all .main-blocs .terminal-one .wrapper .label-t {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #186583;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-one .wrapper {
    height: 400px;
  }
  .main-wrapper-all .main-blocs .terminal-one .wrapper .left-side {
    left: -21px;
  }
  .main-wrapper-all .main-blocs .terminal-one .wrapper .right-side {
    right: -21px;
  }
}
.main-wrapper-all .main-blocs .terminal-two {
  position: absolute;
  left: 27%;
}
.main-wrapper-all .main-blocs .terminal-two .wrapper {
  background: #186583;
  border: 1px solid #1aaf5d;
  width: 10px;
  height: 600px;
  position: relative;
}
.main-wrapper-all .main-blocs .terminal-two .wrapper .right-side,
.main-wrapper-all .main-blocs .terminal-two .wrapper .left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.main-wrapper-all .main-blocs .terminal-two .wrapper .right-side span,
.main-wrapper-all .main-blocs .terminal-two .wrapper .left-side span {
  padding-inline: 3px;
}
.main-wrapper-all .main-blocs .terminal-two .wrapper .left-side {
  left: -60px;
}
.main-wrapper-all .main-blocs .terminal-two .wrapper .right-side {
  right: -60px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-two .wrapper {
    height: 380px;
  }
  .main-wrapper-all .main-blocs .terminal-two .wrapper .left-side {
    left: -21px;
  }
  .main-wrapper-all .main-blocs .terminal-two .wrapper .right-side {
    right: -21px;
  }
}
.main-wrapper-all .main-blocs .terminal-three {
  position: absolute;
  left: 45%;
}
.main-wrapper-all .main-blocs .terminal-three .wrapper {
  background: #186583;
  border: 1px solid #1aaf5d;
  width: 10px;
  height: 560px;
  position: relative;
}
.main-wrapper-all .main-blocs .terminal-three .wrapper .right-side,
.main-wrapper-all .main-blocs .terminal-three .wrapper .left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.main-wrapper-all .main-blocs .terminal-three .wrapper .right-side span,
.main-wrapper-all .main-blocs .terminal-three .wrapper .left-side span {
  padding-inline: 3px;
}
.main-wrapper-all .main-blocs .terminal-three .wrapper .left-side {
  left: -60px;
}
.main-wrapper-all .main-blocs .terminal-three .wrapper .right-side {
  right: -60px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-three .wrapper {
    height: 350px;
  }
  .main-wrapper-all .main-blocs .terminal-three .wrapper .left-side {
    left: -21px;
  }
  .main-wrapper-all .main-blocs .terminal-three .wrapper .right-side {
    right: -21px;
  }
}
.main-wrapper-all .main-blocs .terminal-four {
  position: absolute;
  left: 60%;
}
.main-wrapper-all .main-blocs .terminal-four .smalll {
  font-size: 10px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-four .smalll {
    font-size: 5px;
  }
}
.main-wrapper-all .main-blocs .terminal-four .wrapper {
  background: #186583;
  border: 1px solid #1aaf5d;
  width: 10px;
  height: 650px;
  position: relative;
}
.main-wrapper-all .main-blocs .terminal-four .wrapper .right-side,
.main-wrapper-all .main-blocs .terminal-four .wrapper .left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.main-wrapper-all .main-blocs .terminal-four .wrapper .right-side span,
.main-wrapper-all .main-blocs .terminal-four .wrapper .left-side span {
  padding-inline: 3px;
}
.main-wrapper-all .main-blocs .terminal-four .wrapper .left-side {
  left: -60px;
}
.main-wrapper-all .main-blocs .terminal-four .wrapper .right-side {
  right: -60px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-four .wrapper {
    height: 400px;
  }
  .main-wrapper-all .main-blocs .terminal-four .wrapper .left-side {
    left: -21px;
  }
  .main-wrapper-all .main-blocs .terminal-four .wrapper .right-side {
    right: -21px;
  }
}
.main-wrapper-all .main-blocs .terminal-five {
  position: absolute;
  left: 78%;
  top: -5px;
}
.main-wrapper-all .main-blocs .terminal-five .wrapper {
  background: #186583;
  border: 1px solid #1aaf5d;
  width: 10px;
  height: 780px;
  position: relative;
  transform: rotate(10deg);
}
.main-wrapper-all .main-blocs .terminal-five .wrapper .right-side,
.main-wrapper-all .main-blocs .terminal-five .wrapper .left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.main-wrapper-all .main-blocs .terminal-five .wrapper .right-side span,
.main-wrapper-all .main-blocs .terminal-five .wrapper .left-side span {
  padding-inline: 3px;
}
.main-wrapper-all .main-blocs .terminal-five .wrapper .left-side {
  padding-top: 15px;
  left: -60px;
}
.main-wrapper-all .main-blocs .terminal-five .wrapper .right-side {
  right: -60px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-five .wrapper {
    height: 420px;
  }
  .main-wrapper-all .main-blocs .terminal-five .wrapper .left-side {
    left: -21px;
  }
  .main-wrapper-all .main-blocs .terminal-five .wrapper .right-side {
    right: -21px;
  }
}
.main-wrapper-all .main-blocs .de {
  position: absolute;
  left: calc(60% + 120px);
  top: -16px;
  transform: rotate(270deg);
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .de {
    left: calc(60% + 90px);
  }
}
.main-wrapper-all .main-blocs .label-t {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #186583;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper-all .main-blocs .terminal-right-end {
  position: absolute;
  left: 90.5%;
  top: -14px;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-right-end {
    left: 89%;
  }
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper {
  background: #186583;
  border: 1px solid #1aaf5d;
  width: 10px;
  height: 990px;
  position: relative;
  transform: rotate(13deg);
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .right-side,
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .left-side {
  padding-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .right-side span,
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .left-side span {
  padding-inline: 3px;
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .left-side {
  left: -60px;
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .right-side {
  right: -46px;
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat {
  position: absolute;
  background: #186583;
  border: 1px solid #1aaf5d;
  height: 10px;
  width: 760px;
  right: 70px;
  bottom: -150px;
  transform: rotate(-13deg) translateX(40px);
  transform-origin: 29% 20%;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat {
    width: 480px;
    bottom: -105px;
    right: 76px;
  }
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats {
  position: relative;
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats .uppers-side {
  position: absolute;
  bottom: 30px;
  width: 100%;
  transform: rotate(270deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats .uppers-side {
    bottom: 4px;
    left: 10px;
  }
  .main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats .uppers-side .slot {
    margin-bottom: 1.5px;
  }
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 60px;
  bottom: -9px;
  right: -50px;
  background: #186583;
  border: 1px solid #1aaf5d;
  border-left: none;
}
.main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats .box-ax {
  position: absolute;
  right: 100%;
  bottom: -9px;
  min-height: 80px;
  min-width: 80px;
  border: 10px solid #186583;
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-right-end .wrapper .bottom-flat .boats .box-ax {
    min-width: 40px;
    min-height: 40px;
  }
}
@media (max-width: 1199px) {
  .main-wrapper-all .main-blocs .terminal-right-end .wrapper {
    height: 600px;
  }
  .main-wrapper-all .main-blocs .terminal-right-end .wrapper .left-side {
    left: -21px;
  }
}
.main-wrapper-all .slot {
  background: #01ff4d;
  border: 1px solid #fdcf03;
  min-width: 59px;
  max-width: 60px;
  min-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper-all .slot span {
  font-size: 11px;
}
.main-wrapper-all .slot.occupied {
  color: #fff;
  background: #eb0606;
}
@media (max-width: 1199px) {
  .main-wrapper-all .slot {
    min-width: 20px;
    max-width: 21px;
    min-height: 9px;
    border: 1px solid #fdcf03;
    border-bottom: 1px solid #fdcf03;
  }
  .main-wrapper-all .slot span {
    font-size: 6px;
  }
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */